/* Mobile version */
@media (max-width: 768px) {
  main {
    overflow: hidden;

    .contact-header,
    .contact-info {
        margin: 10px 30px 10px 30px !important;
    }

    .contact-header,
    #info-header {
        font-size: 15px !important;
    }

    .contact-info {
        display: grid;
        grid-template-rows: auto auto auto auto !important;
        grid-template-columns: auto !important;
        width: 85%;
        gap: 20px !important;
        background-color: rgba(249, 249, 249, 1);
        box-shadow: none !important;
         
        .info {
            border-bottom: 0.5px solid rgba(188, 188, 188, 1);
        }

        .info:last-child {
            border-bottom: none;
        }
    }
  }
}

main {
    .contact-header,
    .contact-info {
      margin: 10px 155px 10px 155px;
  }

  .contact-header {
    font-size: 25px;
    font-weight: 500;
  }

  .contact-info {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 100px;
    padding: 20px 10px 30px 20px;
    margin-bottom: 50px;

    #info-header {
        font-weight: 500;
        font-size: 25px;
    }
    #info-body {
        font-weight: 500;
        font-size: 17px;
        display: flex;

        svg {
            margin-right: 8px;
            margin-top: 3px;
        }
    }
  }
}
