main {
    .main-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 150px;
        .header {
            margin-top: 30px;
            font-weight: 500;
            font-size: 20px;
        }
        .body {
            font-weight: 400;
            font-size: 18px;
            color: rgba(150, 150, 150, 1);
            text-align: center;
        }
        button {
            margin-top: 50px;
            background: transparent;
            border: 1px solid rgba(150, 150, 150, 1);
            border-radius: 8px;
            width: 180px;
            height: 55px;
            transition: 0.2s ease-out;
            a{
                font-weight: 500;
                font-size: 24px;
                text-decoration: none;
                color: black;
            }
        }
        button:hover {
            a {
                color: rgba(232, 113, 46, 1);
            }
            border: 1px solid rgba(232, 113, 46, 1);
        }
    }
}

/* Mobile version */
@media (max-width: 768px) {
    main {
        .main-body {
            button:hover {
                background-color: rgba(232, 113, 46, 1);
                a{
                    color: white;
                }
            }
        }
    }
    footer {
        position: fixed;
        bottom: 0;
        top: auto !important;
      }
}
