@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Gilroy";
}

header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;

  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;

    .logo {
      justify-content: start;
    }

    .menu-links {
      margin: 0;
      top: 34px;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 35px;
      size: 14px;
      font-weight: 600;
    }

    a {
      color: #000000;
      text-decoration: none;
      transform: 0.2s ease;
    }

    a:hover {
      color: #f2aa4c;
      text-decoration: underline;
    }
  }

  .navbar-right {
    .navbar-favorite {
      text-decoration: none;
    }

    .dropdown {
      background-color: transparent;
      color: rgb(0, 0, 0);
      padding: 10px;
      font-size: 16px;
      border: none;
      width: 115px;
      border-radius: 5px;
    }

    .lang-dropdown {
      position: relative;
      display: inline-block;
      width: 72px;
      height: 24px;
    }

    .dropdown-menu {
      font-size: 16px;
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      width: inherit;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-menu li {
      text-align: center;
      color: black;
      text-decoration: none;
      display: block;
    }

    .dropdown-menu li:hover {
      background-color: #ddd;
    }

    .lang-dropdown:hover .dropdown-menu {
      display: block;
    }

    .lang-dropdown:hover .dropdown {
      background-color: #a4a7a4;
    }
  }
}

main {
  .carousel {
    margin: 10px 50px 10px 75px;
    
    img {
      width: 1240px !important;
      height: 348px !important;
      border-radius: 8px;
      filter: brightness(60%);
    }
  
    h4 {
      font-weight: 700;
      font-size: 32px;
      text-align: left;
    }
  
    p {
      font-weight: 400;
      font-size: 24px;
      text-align: left;
    }
    .btn {
      width: 120px;
      height: 40px;
    }
  
    .carousel-control-prev-icon {
      background-image: url(../images/arrow-left.png);
      background-size: auto;
    }
  
    .carousel-control-next-icon {
      background-image: url(../images/arrow-right.png);
      background-size: auto;
    }
  }

  .categories {
    margin-left: 155px;
    margin-right: 155px;

    .categories-header {
      margin-top: 30px;
      font-weight: 500;
      font-size: 28px;
    }

    .categories-buttons {
      display: flex;
      justify-content: space-between;
      width: 1230px;
      
      #rings-button {
        background: linear-gradient(85.39deg, #f4f8ee 0%, #ffead0 98.49%);
      }
      
      button {
        width: 280px;
        height: 89px;
        border: none;
        border-radius: 10px;
        background: rgba(244, 248, 238, 1);
        transition: box-shadow 0.3s ease-out;

        a {
          text-decoration: none;
          color: #000000;
          width: 67px;
          height: 29px;
          font-weight: 400;
          margin-right: 50px;
        }

        img {
          width: 64px;
          height: 64px;
          margin-right: 60px;
        }
      }

      button:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
    }
  }

  .products {
    .products-header,
    .products-gallery,
    .products-footer,
    .new-collection-gallery,
    .new-collection-header {
      margin: 10px 155px 10px 155px;
    }

    .products-header {
      font-weight: 500;
      font-size: 28px;
    }

    .products-gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      grid-gap: 67px 64px;

      .card {
        width: 260px;
        height: 322px;
        border-radius: 20px;
        border: none;
        transition: box-shadow 0.3s ease-out;

        .favorite {
          position: absolute;
          z-index: 1;
          border: none;
          background: transparent;
          margin-top: 10px;
          margin-left: 220px;
        }

        .prod-name {
          margin-top: 10px;
          margin-bottom: 0;
          font-weight: 600;
          font-size: 20px;
          text-align: center;
        }

        .prod-price {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          .prod-price-current {
            font-weight: 600;
            font-size: 36px;
            color: rgba(232, 113, 46, 1);
          }

          .prod-price-before {
            margin-left: 7px;
            font-weight: 600;
            font-size: 24px;
            color: rgba(167, 167, 167, 1);
            text-decoration: line-through;
          }
        }

        .order {
          width: 260px;
          height: 40px;
          border: none;
          border-radius: 4px;
          background-color: rgba(242, 170, 76, 1);
          color: rgba(255, 255, 255, 1);
          font-weight: 500;
          font-size: 18px;
        }
      }

      .card:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
    }

    .products-footer {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 120px;
        height: 40px;
        font-weight: 500;
        font-size: 20px;
        color: rgba(157, 157, 157, 1);
        border: 0.8px solid rgba(157, 157, 157, 1);
        border-radius: 4px;
        background: transparent;
      }

      button:hover {
        border-color: #f2aa4c;
        color: #f2aa4c;
      }
    }

    .grid-gallery {
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* grid-template-columns: repeat(2, 3fr);
      grid-template-rows: auto; */
      overflow: hidden;

      .image-container {
        position: relative;
        border: 1px solid rgba(255, 255, 255, 1);

        img {
          max-width: 100%;
          display: block;
          isolation: isolate;
          filter: brightness(0.8);
        }

        /* this image is a bit transparent itself, so darken it more */
        img#bottom-right {
          filter: brightness(0.4);
        }

        .headline {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 38px;
          font-weight: 500;
          text-align: center;
        }

        .body-text {
          display: flex;
          flex-wrap: wrap;
          width: 700px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 22px;
          font-weight: 500;
          text-align: left;

          button {
            width: 120px;
            height: 40px;
            font-weight: 500;
            font-size: 20px;
            color: rgba(255, 255, 255, 1);
            border: 0.8px solid rgba(255, 255, 255, 1);
            border-radius: 4px;
            margin-top: 10px;
            background: transparent;
          }
        }

        .top-right-reveal {
          display: none;
          z-index: 2;

          img {
            max-width: 100%;
            display: inline-block;
            isolation: isolate;
          }

          .revealed-text {
            display: flex;
            flex-wrap: wrap;
            width: 700px;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 500;
            text-align: left;

            .revealed-header {
              font-size: 34px;
              font-weight: 700;
              margin-bottom: 20px;
            }
            .revealed-body {
              font-size: 24px;
              font-weight: 500;
            }
          }
        }
      }

    }
    .grid-gallery:hover {
      .top-right-reveal {
        display: block;
      }
      .top-right-default {
        display: none;
      }
      img#bottom-right {
        filter: brightness(0.7);
      }
    }

    /* .grid-gallery {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 2.5fr);
      grid-template-rows: auto;
      grid-area: 1 / 1 / 3 / 3;
      margin-top: 50px;
      justify-items: stretch;
      align-items: stretch;
      transition: 0.3s ease-out;

      .image-container {
        position: relative;
        img {
          border: 1px solid rgba(255, 255, 255, 1);
          isolation: isolate;
          filter: brightness(80%);
        }

        .headline {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 38px;
          font-weight: 500;
          text-align: center;
        }
      }

      #bottom-right {
        .body-text {
          position: absolute;
          top: 50px;
          margin-left: 50px;
          text-align: left;
          font-weight: 500;
          font-size: 24px;
          color: white;

          button {
            position: absolute;
            width: 120px;
            height: 40px;
            top: 150px;
            left: 0;
            font-weight: 500;
            font-size: 20px;
            color: rgb(255, 255, 255);
            border: 0.8px solid rgb(255, 255, 255);
            border-radius: 4px;
            background: rgba(157, 157, 157, 0.3);
          }
        }
      }
    } */

    /* .grid-gallery {
      display: grid;
      grid-template-columns: 1fr 2fr;
      background-color: transparent;
      grid-template-areas: '........ image'
                             'headline image'
                             'text     image'
                             'button   image'
                             '........ image';
                            
      text-align: left;

      &__image {
        object-fit: contain;
      }
    } */

    .new-collection-header {
      font-weight: 500;
      font-size: 28px;
      margin-top: 100px;
    }

    .new-collection-gallery {
      margin-bottom: 70px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      grid-gap: 67px 64px;

      .card {
        width: 260px;
        height: 322px;
        border-radius: 20px;
        border: none;
        transition: box-shadow 0.3s ease-out;

        .favorite {
          position: absolute;
          z-index: 1;
          border: none;
          background: transparent;
          margin-top: 10px;
          margin-left: 220px;
        }

        .prod-name {
          margin-top: 10px;
          margin-bottom: 0;
          font-weight: 600;
          font-size: 20px;
          text-align: center;
        }

        .prod-price {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;

          .prod-price-current {
            font-weight: 600;
            font-size: 36px;
            color: rgba(232, 113, 46, 1);
          }

          .prod-price-before {
            margin-left: 7px;
            font-weight: 600;
            font-size: 24px;
            color: rgba(167, 167, 167, 1);
            text-decoration: line-through;
          }
        }

        .order {
          width: 260px;
          height: 40px;
          border: none;
          border-radius: 4px;
          background-color: rgba(242, 170, 76, 1);
          color: rgba(255, 255, 255, 1);
          font-weight: 500;
          font-size: 18px;
        }
      }

      .card:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      }
    }

    .products-gallery,
    .new-collection-gallery {
      /* .favorite {
        background: transparent;
        border: none;
      } */
    
      .favorite .filled {
          fill: red;
          stroke: red;
          fill-opacity: 1;
      }
    }
  }
}

footer {
  top: 0;
  left: 0;
  width: 100%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(95, 95, 95, 1);

  .footer-navbar {
    padding: 30px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

    .logo {
      justify-content: start;
    }

    .menu-links {
      margin: 0;
      top: 34px;
      display: grid;
      grid-template-columns: auto auto auto;
      list-style: none;
      gap: 15px;
      column-gap: 40px;
      size: 24px;
      font-weight: 600;

      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
      }
    }

    .contact {
      margin-top: 5px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;

      p {
        margin-bottom: 0;
        svg {
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .footer-end {
    padding: 20px;
    background-color: rgba(104, 104, 104, 1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;

    .copyright {
      size: 14px;
      margin-top: 9px;
    }
    .socials {
      margin: 0;
      top: 34px;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      size: 14px;
      gap: 10px;
    }

    .created {
      display: flex;
      p {
        margin-top: 9px;
        margin-right: 5px;
      }
    }
  }
}
